<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h2>Editing</h2>
    <div th:each="el : ${post}">
        <form  method="post">
            <input type="text" th:value="${el.title}" name="title" placeholder="title" class="form-control"><br>
            <input type="text" th:value="${el.anons}"name="anons" placeholder="anons" class="form-control"><br>
            <textarea name="text" th:text="${el.text}" placeholder="text" class="form-control"/><br>
            <button type="submit"class="btn btn-success">Update</button><br>
        </form>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>